@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";
@import "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css";
@import "footer";
@import "menu";

@keyframes fadeIn {
    from {
        opacity: 0;
        height: 5%;
    }

    to {
        opacity: 1;
        height: auto;
    }
}

html {
    scroll-behavior: smooth;

    p {
        margin: 0;
    }
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(236, 235, 235);
    height: 100vh;
}



/* HEADER */
.header {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-bottom: 10%;

    .text {
        font-size: 60px;
        font-weight: 900;
        letter-spacing: 8px;
        color: wheat;
    }
}

// NAVGATION
.navbar {
    padding: 0 5%;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    padding: 0 25px;
    margin-right: 50px;
}

.nav-links_container {
    display: flex;
    justify-content: flex-end;

    .nav-item {
        font-size: 18px;
        padding: 15px 40px;
        cursor: pointer;

        &.active:hover {
            background-color: blueviolet;
            transition: 0.3s ease-in-out;
        }

        &.active:active {
            background-color: rgb(86, 30, 138);
            transition: 0.1s ease-in-out;
        }
    }
}

// ITEMS AMOUNT IN OUR PLAYLIST
#myPlaylist {
    display: flex;
    align-items: center;

    .items-amount {
        margin-left: 10px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(218, 77, 77);
        color: white;
        width: 20px;
        height: 20px;
        text-align: center;
        border-radius: 100%;
    }
}


/* MAIN CONTAINER */
main {
    padding: 60px 15%;
    margin-bottom: 100px;
    flex: 1 0 auto;

    @media screen and (max-width: 1400px) {
        & {
            padding: 60px 10%;
        }
    }

    @media screen and (max-width: 1200px) {
        & {
            padding: 60px 5%;
        }
    }

    @media screen and (max-width: 900px) {
        & {
            padding: 60px 15%;
        }
    }

    @media screen and (max-width: 800px) {
        & {
            padding: 60px 10%;
        }
    }

    @media screen and (max-width: 700px) {
        & {
            padding: 60px 5%;
        }
    }
}

.cards_container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards_container-playlist {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 1145px) {
        justify-content: space-around;
    }
}

.playlist-content {
    font-size: 35px;
    font-weight: 900;
}

.card,
.card-clone {
    flex-basis: 300px;
    min-height: 430px;
    margin: 20px 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    animation: fadeIn 1.3s;

    &:hover {
        box-shadow: 0px 0px 15px 0px blueviolet;
        transition: 0.2s ease-in-out;
    }
}

.card-title {
    font-size: 20px;
    text-align: center;
}

.card_author-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
}

.card_image {
    width: 100%;
    min-height: 250px;
    margin: 15px auto;
}

.toPlaylist-button,
.delete-button,
.edit-button {
    height: 30px;
    outline: none;
    border: 0;
    border-radius: 7px;
    color: wheat;
    cursor: pointer;
}

.toPlaylist-button {
    background-color: blueviolet;

    &:active {
        transition: 0.1s ease-in-out;
        background-color: rgb(86, 30, 138);
    }
}

.delete-button {
    background-color: rgba(255, 72, 0, 0.842);

    &:active {
        transition: 0.1s ease-in-out;
        background-color: rgba(195, 64, 12, 0.842);
    }
}

.edit-button {
    color: black;
    background-color: rgba(255, 230, 0, 0.842);
}


/* HOTLIST */
.hotlist-title,
.main-title {
    width: 100%;
    margin: 10px 0;
    letter-spacing: 5px;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

.cards_container-hotlist {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 70px;

    button {
        height: 30px;
        border-radius: 5px;
        font-size: 15px;
    }

    .card-title {
        font-size: 25px;
    }
}

.slick-prev,
.slick-next {
    text-align: center;
    opacity: 0.5;
    background-color: inherit;
    border-radius: 100%;
    min-width: 50px;
    height: 50px;

    &:hover {
        opacity: 1;
        background-color: rgb(148, 143, 143);
    }

    & span {
        font-size: 32px;
        font-weight: 900;
    }

    @media screen and (max-width:530px) {
        & {
            min-width: 20px;
            height: 20px;
            border-radius: 0;

            &:hover {
                opacity: 1;
                background-color: inherit;
            }

            & span {
                font-size: 27px;
                font-weight: 700;
            }
        }
    }

    @media screen and (max-width:490px) {

        & {
            min-width: 10px;
            height: 10px;
            border-radius: 0;

            &:hover {
                opacity: 1;
                background-color: inherit;
            }

            & span {
                font-size: 22px;
                font-weight: 500;
            }
        }
    }

}